body{
    background-color: rgb(39, 75, 50);
}
#d1{
    position: absolute;
    height: 300px;
    width: 400px;
    background-color: rgb(0, 0, 0);
    top: 250px;
    left: 550px;
     border-radius: 30px; 
}
#resultado{
    position: absolute;
    height: 35px;
    width: 90px;
    background-color: rgb(255, 255, 255);
    top:200px;
    right: 150px;
     border-radius: 5px; 
}
#cap1{
    position: relative;
    height: 25px;
    width: 100px;
    top: 130px;
    left: 65px;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
}
 #seletor1{
    position: relative;
    height: 30px;
    width: 30px;
    top: 130px;
    right: 190px;
    border-radius: 5px;
    overflow: visible;
    overflow: hidden;

 }
#cap2{
    position: relative;
    height: 25px;
    width: 100px;
    top: 130px;
    left: 130px;
    border-radius: 5px;
    border-color: black;
   
}
#seletor2{
    position: relative;
    height: 30px;
    width: 30px;
    top: 130px;
    left: 100px;
    border-radius: 5px;
    overflow: visible;
    overflow: hidden;
}
#botaodeconv{
    position: relative;
    height: 30px;
    width: 43px;
    top: 130px;
    right: 105px;
    border-radius: 5px;
}
